.container {
    max-width: 95%;
}

.custom-table {
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

    .custom-table th, .custom-table td {
        text-align: left;
        padding: 15px;
        vertical-align: middle;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 5px;
    }

    .custom-table th {
        background-color: #343a40;
        color: white;
        text-align: center;
    }

    .custom-table td.icon-cell {
        text-align: center;
    }

    .custom-table .edit-icon, .custom-table .delete-icon, .custom-table .save-icon {
        cursor: pointer;
        color: #007bff;
    }

        .custom-table .edit-icon:hover, .custom-table .delete-icon:hover, .custom-table .save-icon:hover {
            color: #0056b3;
        }

    .custom-table input[type="text"] {
        width: calc(100% - 30px);
        padding: 5px;
    }

    .custom-table .form-control {
        margin-bottom: 0;
        padding: 10px;
        font-size: 14px;
    }

    .custom-table tbody tr {
        transition: background-color 0.3s;
    }

        .custom-table tbody tr:hover {
            background-color: #e9ecef;
        }

    .custom-table thead th {
        border-bottom: 2px solid #dee2e6;
    }

    .custom-table .icon-cell a {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        color: #007bff;
    }

td.icon-cell {
    max-width: 10px;
    width: auto;
}

.new-person-row {
    text-align: center;
}

    .new-person-row input {
        width: calc(100% - 30px);
        padding: 10px;
        font-size: 14px;
    }

    .new-person-row .create-icon {
        font-size: 20px;
        margin-left: 10px;
        vertical-align: middle;
        cursor: pointer;
        color: #28a745;
    }

.column-visibility-controls {
    margin: 20px;
}

.new-person-row .create-icon:hover {
    color: #218838;
}

.dropdown {
    margin-right: 20px;
}